.login-form {
    padding-top: 120px;
}
.error {
    color: red;
}
.form-submit {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.handle {
    cursor: pointer;
    width: 50px;
}
.move-icon {
    font-size: 30px;
}
.machine-table-row {
    background: white;
}
.nav-tabs li a{
    padding: 10px;
}
.input-field-group {
    width: 100%;
    position: relative;
    display: table;
    border-collapse: separate;
    padding-top: 20px;
}
.input-field-group label, .input-field-group .error {
    margin-top: 7px;
}
.input-field-group input, .input-field-group textarea {
    width: 100% !important;
}
.pdf-info {
    margin-top: 7px;
}
.form-submit button {
    margin-left: 5px;
}
.fileinput-exists .btn-file > input {
    left: 0px;
    width: 380px !important;
}
.nav-tabs {
    margin-top: 40px;
}
.show-thumbnail {
    margin-top: 8px
}
.show-thumbnail .glyphicon-ok {
    color: green;
}
.show-thumbnail .glyphicon-remove {
    color: red;
}
.show-crop-modal, .remove-thumbnail{
    margin-top: 5px;
}
.jcrop-keymgr {
    opacity: 0;
}
.remove-image, .change-image {
    margin-top: 9px;
}
.thumbnail-warning {
    font-size: 10px;
}
.btnImage { 
    position: relative;
    top: -35px;
}